<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-carousel owl-service-item"ngSkipHydration>
s
          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-01.png" alt="Icône éducation">
            </div>
            <div class="down-content">
              <h4>Éducation de Qualité</h4>
              <p>Un encadrement scolaire rigoureux et bienveillant pour accompagner chaque élève vers l'excellence.</p>
            </div>
          </div>

          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-02.png" alt="Icône enseignant">
            </div>
            <div class="down-content">
              <h4>Enseignants Dévoués</h4>
              <p>Une équipe pédagogique compétente, engagée et proche des élèves, au service de leur réussite.</p>
            </div>
          </div>

          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-03.png" alt="Icône élève">
            </div>
            <div class="down-content">
              <h4>Épanouissement des Élèves</h4>
              <p>Nous favorisons l'éveil intellectuel, moral et spirituel de chaque enfant dans un environnement sain.</p>
            </div>
          </div>

          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-02.png" alt="Icône numérique">
            </div>
            <div class="down-content">
              <h4>Suivi Numérique</h4>
              <p>Un accès moderne aux informations scolaires et une communication facilitée entre l'école et les parents.</p>
            </div>
          </div>

          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-03.png" alt="Icône communauté">
            </div>
            <div class="down-content">
              <h4>Vie Communautaire</h4>
              <p>Des activités éducatives et chrétiennes qui renforcent les liens entre élèves, familles et encadreurs.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
