<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
  <video autoplay muted loop id="bg-video">
      <source src="assets/images/course-video.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption">
              <h6>Salut!!</h6>
              <h2>Bienvenue sur notre plateforme web</h2>
              <p>Nous sommes l'Institut Scolaire Notre Dame de l'Eglise (NDE)</p>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Nous rejoindre!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<app-wrapper></app-wrapper>


<app-news></app-news>

<app-about></app-about>

<app-teachers></app-teachers>

<app-stats></app-stats>
