<!-- ***** Bannière Principale Début ***** -->
<section class="section main-banner" id="accueil" data-section="section1">
  <video autoplay muted loop id="bg-video">
    <source src="assets/images/course-video.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="caption">
            <h6>Institut Scolaire NDE</h6>
            <h2>Bienvenue à Notre Dame de l'Église</h2>
            <p>Une école d’excellence où chaque élève est accompagné pour atteindre son plein potentiel, dans un cadre sain, dynamique et inspirant.</p>
            <div class="main-button-red">
              <div class="scroll-to-section">
                <a href="#contact">Nous contacter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Bannière Principale Fin ***** -->

<app-wrapper ></app-wrapper>
<app-news></app-news>
<app-about></app-about>
<app-teachers ></app-teachers>
<app-stats></app-stats>
