<section class="upcoming-meetings" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Nos Actualités & Événements</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories">
          <h4>Catégories d'Événements</h4>
          <ul>
            <li><a href="#">Ateliers sur l'entrepreneuriat</a></li>
            <li><a href="#">Journées de la culture togolaise</a></li>
            <li><a href="#">Formations sur les nouvelles technologies</a></li>
            <li><a href="#">Compétitions sportives inter-écoles</a></li>
            <li><a href="#">Conférences sur l'avenir des jeunes en Afrique</a></li>
          </ul>
          <div class="main-button-red">
            <a href="">Tous les Événements à Venir</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span>Gratuit</span>
                </div>
                <a href="meeting-details.html"><img src="assets/images/meeting-01.jpg" alt="Atelier sur l'Entrepreneuriat au Togo"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6>Mai <span>15</span></h6>
                </div>
                <a href="meeting-details.html"><h4>Atelier sur l'Entrepreneuriat au Togo</h4></a>
                <p>Apprenez les bases de la création d'entreprise au Togo et découvrez des opportunités pour lancer votre propre projet.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span>5000 FCFA</span>
                </div>
                <a href="meeting-details.html"><img src="assets/images/meeting-02.jpg" alt="Journée de la Culture Togolaise"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6>Mai <span>20</span></h6>
                </div>
                <a href="meeting-details.html"><h4>Journée de la Culture Togolaise</h4></a>
                <p>Venez célébrer les traditions et la richesse culturelle du Togo à travers des danses, des musiques et des expositions.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span>2000 FCFA</span>
                </div>
                <a href="meeting-details.html"><img src="assets/images/meeting-03.jpg" alt="Formation sur les Nouvelles Technologies"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6>Mai <span>25</span></h6>
                </div>
                <a href="meeting-details.html"><h4>Formation sur les Nouvelles Technologies</h4></a>
                <p>Initiez-vous aux outils numériques et aux technologies émergentes qui façonnent le monde d'aujourd'hui.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span>1000 FCFA</span>
                </div>
                <a href="meeting-details.html"><img src="assets/images/meeting-04.jpg" alt="Compétition Sportive Inter-Écoles"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6>Juin <span>10</span></h6>
                </div>
                <a href="meeting-details.html"><h4>Compétition Sportive Inter-Écoles</h4></a>
                <p>Venez soutenir vos équipes et découvrir de jeunes talents dans différentes disciplines sportives.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
